<template>
	<div>
		<button @click="toggleActivity" :class="$store.state.activity">
			<span class="label">{{$store.state.activity}}</span>
			<br />
			<span class="elapsed">{{$store.state.elapsed}}</span>
		</button>
	</div>
</template>
<script>
import { mapActions } from 'vuex';

export default {
	'methods': mapActions([ 'toggleActivity' ])
}
</script>
<style scoped>
.label {
	text-transform: uppercase;
}
button {
	font-family: Helvetica, Arial, sans-serif;
	background: #eee;
	color: #aaa;
	border: 2px solid #ddd;
	width: 900px;
	height: 200px;
	outline: none;
	border-radius: 50px;
	margin: 2em;
}
button.working {
	background: #efe;
	border: 2px solid #dfd;
}
button.working .label {
	color: #8a8
}
button.idle {
	background: #eff;
	border: 2px solid #dff;
}
button.idle .label {
	padding-top: 20px;
	color: #8aa
}
button .label {
	font-weight: bold;
	font-size: 70px;
}
button .elapsed {
	font-style: italic;
	font-size: 20px;
}
</style>
