<template>
	<div>
		<TaskDescription />
		<ActivityButtons />
		<TaskLog />
	</div>
</template>

<script>
// components should import anything they use as sub-components. flat structure here, with just this one parent with direct children
import ActivityButtons from './ActivityButtons.vue';
import TaskDescription from './TaskDescription.vue';
import TaskLog from './TaskLog.vue';

export default {
	'components': { ActivityButtons, TaskDescription, TaskLog },
	'mounted': function() { this.$store.dispatch('init'); }
}
</script>
