<template>
	<div>
		<ol class="days">
			<li v-for="day in logByDay">
				<table>
					<thead>
						<tr>
							<th><h2>{{day.heading}}</h2></th>
							<th class="time">{{day.total}}</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="entry in day.entries">
							<td class="task">{{entry.task}}</td>
							<td class="time">{{entry.timeLbl}}</td>
							<td>
								<ul class="tags">
									<li v-for="tag in entry.tags">{{tag}}</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</li>
		</ol>
		<button v-if="moreWeeksExist" @click="loadWeek" class="more">Load prior week</button>
	</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
	'methods': mapActions([ 'loadWeek' ]),
	'computed': mapGetters([ 'logByDay', 'moreWeeksExist' ])
}
</script>

<style scoped>
tr:first-child td {
	border-top: 1px dashed #aaa;
	padding-top: 8px;
}
table {
	margin-top: 1em;
}
h2 {
	margin-bottom: 0;
}
.more {
	margin-left: 2em;
}
table {
	max-width: 900px;
	font-family: Helvetica, Arial, sans-serif;
}
tbody tr:nth-child(even) {
	background: #fafafa;
}
.task {
	font-size: 1.1em;
	display: inline-block;
	max-height: 4.5em;
	overflow: auto;
	width: 350px;
}
ol, ul {
	list-style: none;
	padding-left: 0;
}
ol {
	padding-left: 2em;
}
.time {
	font-size: small;
	font-style: italic;
	font-weight: normal;
	width: 150px;
}
.tags {
	background: transparent;
	display: inline;
	border: 0;
	margin: 0;
}
</style>
