<template>
	<div class="task-descr">
		<div class="descr-cont">
			<input class="descr" placeholder="Task description" :value="$store.state.task" @input="updateTask" />
			<span class="clear" @click="clearTask">x</span>
		</div>
		<div class="tags">
			<div v-if="$store.state.tags.length > 0">
				<ul>
					<li v-for="tag in $store.state.tags" @click="removeTag">{{tag}}</li>
				</ul>
			</div>
			<input class="add-tag" placeholder="Add tag" @keydown="addTag" />
		</div>
	</div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
	'methods': mapActions([ 'addTag', 'removeTag', 'updateTask', 'clearTask' ])
}
</script>

<style>
.descr-cont {
	position: relative;
	width: 930px;
}
.descr-cont .clear {
	position: absolute;
	font-weight: bold;
	top: 20px;
	right: 16px;
	cursor: pointer;
	color: #9aa;
	display: none;
}
.descr-cont:hover .clear {
	display: inline;
}
.task-descr {
	font-family: Helvetica, Arial, sans-serif;
}
.descr {
	font-size: x-large;
	margin-left: 1em;
	border: 0;
}
input {
	line-height: 2.5em;
	outline: none;
	border: 1px solid #ddd;
	border-radius: 6px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding: 0 1em;
	width: 880px;
	margin: 0 2em;
	z-index: 1;
}
input::placeholder {
	font-style: italic;
	color: #aaa;
}
.tags {
	border: 1px dashed #ddd;
	border-radius: 6px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background: #fafafa;
	width: 865px;
	margin: 0 2em;
	padding: 0 1em 1em 1em;
	z-index: 2;
}
.tags ul {
	list-style: none;
	padding: 0;
}
.tags li {
	background: #333;
	font-weight: bold;
	color: #fff;
	padding: 4px 22px 4px 22px;
	border-radius: 6px;
	border: 1px solid #ddd;
	display: inline-block;
	margin: 4px;
	font-size: small;
	position: relative;
	cursor: pointer;
}
.tags li:hover:before {
	content: 'x';
	color: #faa;
	position: absolute;
	top: 3px;
	right: 8px;
}
.add-tag {
	width: 780px;
}
</style>

